@import "../../mixins/mixins";

.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  transition: 0.3s background-color;

  &.colored {
    background-color: #141414;
  }

  .header__wrapper {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 1460px;
    min-height: 95px;
    margin: 0 auto;
    padding: 26px 20px;

    &.header__wrapper--mobile {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      justify-content: flex-end;
      width: 100%;
      transform: translateY(-1000%);
      transition: 0.3s transform;

      &.active {
        transform: translateY(0);
      }
    }
  }

  .header__logo {
    transition: 0.3s opacity;

    &.header__logo--mobile {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    @include hover {
      opacity: 0.7;
    }
  }

  .header__nav-item {
    list-style: none;
  }

  .header__nav-list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  .header__nav-item {
    & + .header__nav-item {
      margin-left: 31px;
    }
  }

  .header__nav-link {
    font-size: 18px;
    line-height: 2.666;
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s color;

    @include hover {
      color: #0DC78F;
    }
  }

  .header__nav-toggler {
    padding-left: 0;
    padding-right: 0;
    border: 0;
    background-color: transparent;
  }

  @include breakpoint(extra-small) {
    position: static;

    .header__wrapper {
      background-color: #141414;
    }

    .header__nav-wrapper {
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      padding-top: 57px;
      padding-bottom: 40px;
      background-color: #141414;
    }

    .header__nav-list {
      flex-direction: column;
    }

    .header__nav-link {
      display: block;
      font-size: 24px;
      font-weight: 600;
      line-height: 2;
      letter-spacing: 0.4px;
    }

    .header__nav-item {
      padding: 0 20px;
      text-align: center;

      & + .header__nav-item {
        margin-top: 40px;
        margin-left: 0;
      }
    }
  }
}
