<header #header class="header">
  <div class="header__wrapper">
    <a href="#" class="header__logo">
      <img src="assets/logo.svg" alt="Logo Icon">
    </a>

    <button class="header__nav-toggler d-md-none" (click)="toggleHeaderMenu($event)">
      <img src="assets/hamburger-icon.svg" alt="Hamburger Icon" class="header__hamburger">
    </button>

    <nav class="header__nav-wrapper d-none d-md-block">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Lorem ipsum</a>
        </li>

        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Lorem ipsum</a>
        </li>

        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Lorem ipsum</a>
        </li>
      </ul>
    </nav>
  </div>

  <div #headerMenu class="header__wrapper header__wrapper--mobile d-md-none" (click)="$event.stopPropagation()">
    <a href="#" class="header__logo header__logo--mobile">
      <img src="assets/logo.svg" alt="Logo Icon">
    </a>

    <button class="header__nav-toggler" (click)="toggleHeaderMenu($event)">
        <span class="header__burger-close">
          <img src="assets/close-icon.svg" alt="Close Icon" class="header__close-icon">
        </span>
    </button>

    <nav class="header__nav-wrapper d-md-none">
      <ul class="header__nav-list">
        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Lorem ipsum</a>
        </li>

        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Lorem ipsum</a>
        </li>

        <li class="header__nav-item">
          <a href="#" class="header__nav-link">Lorem ipsum</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
