.footer {
  background-color: #000000;

  .footer__text {
    font-size: 14px;
    font-weight: 300;
    line-height: 1.71;
    letter-spacing: -0.2px;
    text-align: center;
    color: #ADADAD;
  }

  .footer__wrapper {
    max-width: 1450px;
    margin: 0 auto;
    padding: 46px 20px;
  }
}
