<section class="footer">
  <div class="footer__wrapper">
    <div class="footer__text">
      Lorem ipsum dolor sit amet,
      consectetur adipiscing elit sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua.
    </div>
  </div>
</section>
