<section class="banner">
  <div class="banner__wrapper">
    <h1 class="banner__title d-md-none">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit
    </h1>

    <div class="banner__image-wrapper">
      <img src="assets/bg-image.jpg" alt="Banner Image" class="banner__image">

      <div class="banner__content d-none d-md-block">
        <h1 class="banner__title">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit
        </h1>

        <h3 class="banner__subtitle">
          Sed do eiusmod tempor incididunt ut labore et dolore
        </h3>

        <h5 class="banner__info-title">
          lorem ipsum:
        </h5>

        <div class="banner__info">
          <div class="banner__info-item">
            <a href="#" class="banner__link">
              <img class="banner__info-image" src="assets/app-store-icon.svg" alt="App Store Icon">
            </a>
          </div>

          <div class="banner__info-item">
            <a href="#" class="banner__link">
              <img class="banner__info-image" src="assets/google-play-icon.svg" alt="Google Play Icon">
            </a>
          </div>
        </div>
      </div>
    </div>

    <h3 class="banner__subtitle d-md-none">
      Sed do eiusmod tempor incididunt ut labore et dolore
    </h3>

    <div class="banner__info banner__info--mobile d-md-none">
      <h5 class="banner__info-title">
        lorem ipsum:
      </h5>

      <div class="banner__info-wrapper">
        <div class="banner__info-item">
          <a href="#" class="banner__link">
            <img class="banner__info-image" src="assets/google-play-mobile-icon.svg" alt="Google Play Icon">
          </a>
        </div>

        <div class="banner__info-item">
          <a href="#" class="banner__link">
            <img class="banner__info-image" src="assets/app-store-mobile-icon.svg" alt="App Store Icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
