@import "../../mixins/mixins";

.banner {
  background-color: #141414;

  .banner__image-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 50.333333333333%;
  }

  .banner__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .banner__content {
    position: absolute;
    top: 25.8%;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
  }

  .banner__title {
    max-width: 1420px;
    margin: 0 auto 30px auto;
    padding: 0 20px;
    font-size: 52px;
    font-weight: bold;
    line-height: 1.36;
    letter-spacing: -0.9px;
    text-transform: uppercase;
    text-align: center;
    color: #ffffff;
  }

  .banner__subtitle {
    margin-bottom: 90px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 300;
    line-height: 1;
    letter-spacing: -0.3px;
    text-align: center;
    color: #F7F3F2;
  }

  .banner__info-title {
    margin-bottom: 35px;
    font-size: 18px;
    font-weight: bold;
    line-height: 1.38;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
  }

  .banner__info {
    display: flex;
    justify-content: center;
  }

  .banner__info-item {
    & + .banner__info-item {
      margin-left: 30px;
    }
  }

  .banner__link {
    transition: 0.3s opacity;

    @include hover {
      opacity: 0.7;
    }
  }

  .banner__info-image {
    width: 244px;
  }

  @include breakpoint(medium) {
    .banner__title {
      font-size: 36px;
    }

    .banner__subtitle {
      margin-bottom: 40px;
    }
  }

  @include breakpoint(small) {
    .banner__title {
      font-size: 28px;
    }

    .banner__subtitle {
      font-size: 22px;
    }

    .banner__info-image {
      width: 150px;
    }
  }

  @include breakpoint(extra-small) {
    .banner__wrapper {
      padding: 4px 20px 0 20px;
    }

    .banner__title {
      margin-bottom: 38px;
      padding: 0;
      font-size: 24px;
      line-height: 1.45;
      text-align: left;
      letter-spacing: 1px;
    }

    .banner__subtitle {
      margin-top: 20px;
      margin-bottom: 40px;
      font-size: 18px;
      line-height: 1.5;
      letter-spacing: 0.4px;
      text-align: left;
    }

    .banner__image-wrapper {
      padding-top: 63%;
    }

    .banner__image {
      object-fit: fill;
    }

    .banner__info-image {
      width: 50px;
      height: 50px;
    }

    .banner__info {
      justify-content: space-between;
    }

    .banner__info-item {
      & + .banner__info-item {
        margin-left: 25px;
      }
    }

    .banner__info-title {
      display: flex;
      align-items: center;
      margin: 0;
      letter-spacing: 0.5px;
    }

    .banner__info-wrapper {
      display: flex;
    }
  }
}
