@import "../../mixins/mixins";

.point-banner {
  padding: 115px 0 145px;
  background-color: #141414;

  .point-banner__top-container {
    position: relative;
    display: flex;
    flex-direction: column-reverse;
    padding-bottom: 46px;
  }

  .point-banner__wrapper {
    max-width: 1450px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
  }

  .point-banner__row {
    display: flex;
    margin-bottom: 210px;

    &.point-banner__row--justified {
      justify-content: space-between;
    }
  }

  .point-banner__image-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 79.2%;

    &.point-banner__image-wrapper--tall {
      padding-top: 107.333333%;
    }
  }

  .point-banner__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .point-banner__media-content,
  .point-banner__text-content {
    width: 50%;
  }

  .point-banner__text-content {
    padding-right: 120px;

    &.point-banner__text-content--right {
      padding: 55px 0 0 130px
    }
  }

  .point-banner__text-wrapper {
    padding-top: 5px;
  }

  .point-banner__point {
    display: flex;

    & + .point-banner__point {
      margin-top: 50px;
    }

    &.point-banner__point--inline {
      max-width: 360px;

      & + .point-banner__point--inline {
        margin-top: 0;
        margin-left: 15px;
      }
    }
  }

  .point-banner__media-content {
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 25px;

    &.point-banner__media-content--static {
      position: static;
      padding-left: 0;
      padding-right: 40px;
    }
  }

  .point-banner__point-image-wrapper {
    margin-right: 20px;
  }

  .point-banner__title {
    margin-bottom: 50px;
    font-size: 40px;
    font-weight: 600;
    line-height: 1.35;
    letter-spacing: -0.6px;
    color: #ffffff;

    &.point-banner__title--mobile {
      display: none;
    }
  }

  .point-banner__subtitle {
    margin-bottom: 70px;
    font-size: 35px;
    font-weight: 300;
    line-height: 1.37;
    letter-spacing: -0.5px;
    text-align: center;
    color: #ffffff;
  }

  .point-banner__point-title {
    margin-bottom: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 1.18;
    letter-spacing: 0.2px;
    color: #FBFBFB;

    &.point-banner__point-title--less-mb {
      margin-bottom: 10px;
    }
  }

  .point-banner__point-text {
    font-size: 17px;
    font-weight: 300;
    line-height: 1.35;
    letter-spacing: 0.2px;
    color: #ADADAD;
  }

  .point-banner__button {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 245px;
    min-height: 50px;
    width: 245px;
    margin-top: 85px;
    border-radius: 5px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    text-decoration: none;
    color: #ffffff;
    background-color: #0DC78F;
    transition: 0.3s opacity;

    @include hover {
      opacity: 0.7;
    }
  }

  .point-banner__inline-points {
    padding-top: 100px;
  }

  .point-banner__links-wrapper {
    padding-top: 60px;
  }

  .point-banner__links-title {
    margin-bottom: 60px;
    font-size: 35px;
    font-weight: 300;
    line-height: 1.37;
    letter-spacing: -0.0954546px;
    text-align: center;
    color: #FBFBFB;
  }

  .point-banner__links {
    display: flex;
    justify-content: center;
  }

  .point-banner__link-item {
    & + .point-banner__link-item {
      margin-left: 30px;
    }
  }

  .point-banner__link {
    transition: 0.3s opacity;

    @include hover {
      opacity: 0.7;
    }
  }

  .point-banner__link-image {
    width: 244px;
  }

  @include breakpoint(medium) {
    .point-banner__row {
      &.point-banner__row--justified {
        flex-direction: column;
      }
    }

    .point-banner__point {
      &.point-banner__point--inline {
        max-width: 100%;

        & + .point-banner__point--inline {
          margin-left: 0;
          margin-top: 58px;
        }
      }
    }

    .point-banner__media-content {
      top: 50%;
      transform: translate(0, -50%);
    }

    .point-banner__text-content {
      padding-right: 10px;
    }
  }

  @include breakpoint(small) {
    padding: 50px 0 105px;

    .point-banner__top-container {
      padding-bottom: 0;
    }

    .point-banner__row {
      flex-direction: column;
      margin-bottom: 100px;
    }

    .point-banner__top-wrapper {
      flex-direction: column-reverse;
    }

    .point-banner__media-content {
      position: static;
      width: 100%;
      margin-bottom: 60px;
      transform: translate(0);

      &.point-banner__media-content--static {
        padding: 0;
      }
    }

    .point-banner__text-content {
      width: 100%;
    }

    .point-banner__title {
      display: none;
      padding-right: 20px;

      &.point-banner__title--mobile {
        display: block;
      }

      &.point-banner__title--second {
        padding-right: 0;
      }
    }

    .point-banner__image-wrapper {
      &.point-banner__image-wrapper--tall {
        padding-top: 122%;
      }
    }

    .point-banner__image {
      &.point-banner__image--tall {
        width: 100%;
      }
    }

    .point-banner__text-content {
      &.point-banner__text-content--right {
        padding: 0;
      }
    }
  }

  @include breakpoint(extra-small) {
    .point-banner__title {
      margin-bottom: 62px;
      font-size: 26px;
    }

    .point-banner__image-wrapper {
      padding-top: 103.5%;
    }

    .point-banner__image {
      width: 145%;
    }

    .point-banner__media-content {
      margin-bottom: 67px;
    }

    .point-banner__point-image-wrapper {
      margin-right: 25px;
    }

    .point-banner__point {
      & + .point-banner__point {
        margin-top: 58px;
      }
    }

    .point-banner__button {
      margin-top: 65px;
    }

    .point-banner__point-text {
      font-size: 18px;
    }

    .point-banner__inline-points {
      padding-top: 0;
    }

    .point-banner__subtitle {
      font-size: 24px;
      text-align: left;
    }

    .point-banner__links-wrapper {
      padding-top: 0;
    }

    .point-banner__links-title {
      font-size: 24px;
      letter-spacing: 0.5px;
    }

    .point-banner__link-image {
      width: 50px;
    }
  }
}
