<section class="point-banner">
  <div class="point-banner__top-container">
    <div class="point-banner__wrapper">
      <div class="point-banner__row">
        <div class="point-banner__text-content">
          <h2 class="point-banner__title">
            Viverra tellus in hac habitasse platea dictumst
          </h2>

          <div class="point-banner__points-wrapper">
            <div class="point-banner__point">
              <div class="point-banner__point-image-wrapper">
                <img src="assets/circle-icon.svg" alt="Point Image" class="point-banner__point-image">
              </div>

              <div class="point-banner__text-wrapper">
                <h5 class="point-banner__point-title">
                  Vestibulum rhoncus
                </h5>

                <div class="point-banner__point-text">
                  At auctor urna nunc id cursus metus aliquam.
                  Sit amet aliquam id diam maecenas ultricies mi eget.
                </div>
              </div>
            </div>

            <div class="point-banner__point">
              <div class="point-banner__point-image-wrapper">
                <img src="assets/circle-icon.svg" alt="Point Image" class="point-banner__point-image">
              </div>

              <div class="point-banner__text-wrapper">
                <h5 class="point-banner__point-title">
                  Lectus arcu
                </h5>

                <div class="point-banner__point-text">
                  Bibendum at varius. Turpis nunc eget lorem dolor sed viverra ipsum.
                  Tortor consequat id porta nibh venenatis.
                </div>
              </div>
            </div>

            <div class="point-banner__point">
              <div class="point-banner__point-image-wrapper">
                <img src="assets/circle-icon.svg" alt="Point Image" class="point-banner__point-image">
              </div>

              <div class="point-banner__text-wrapper">
                <h5 class="point-banner__point-title">
                  Montes nascetur
                </h5>

                <div class="point-banner__point-text">
                  ridiculus mus mauris vitae ultricies leo.
                  Libero justo laoreet sit amet.
                  Morbi tincidunt augue interdum velit.
                </div>
              </div>
            </div>

            <a href="#" class="point-banner__button">
              Lorem ipsum
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="point-banner__media-content">
      <h2 class="point-banner__title point-banner__title--mobile">
        Viverra tellus in hac habitasse platea dictumst
      </h2>

      <div class="point-banner__image-wrapper">
        <img class="point-banner__image" src="assets/regular-image.jpg" alt="Image">
      </div>
    </div>
  </div>

  <div class="point-banner__wrapper point-banner__wrapper--second">
    <div class="point-banner__row">
      <div class="point-banner__media-content point-banner__media-content--static">
        <h2 class="point-banner__title point-banner__title--second point-banner__title--mobile">
          Ut placerat orci nulla pellentes
        </h2>

        <div class="point-banner__image-wrapper point-banner__image-wrapper--tall">
          <img class="point-banner__image point-banner__image--tall" src="assets/regular-image.jpg" alt="Image">
        </div>
      </div>

      <div class="point-banner__text-content point-banner__text-content--right">
        <h2 class="point-banner__title">
          Ut placerat orci nulla pellentes
        </h2>

        <div class="point-banner__point">
          <div class="point-banner__point-image-wrapper">
            <img src="assets/circle-icon.svg" alt="Point Image" class="point-banner__point-image">
          </div>

          <div class="point-banner__text-wrapper">
            <h5 class="point-banner__point-title">
              Vestibulum rhoncus
            </h5>

            <div class="point-banner__point-text">
              At auctor urna nunc id cursus metus aliquam.
              Sit amet aliquam id diam maecenas ultricies mi eget.
            </div>
          </div>
        </div>

        <div class="point-banner__point">
          <div class="point-banner__point-image-wrapper">
            <img src="assets/circle-icon.svg" alt="Point Image" class="point-banner__point-image">
          </div>

          <div class="point-banner__text-wrapper">
            <h5 class="point-banner__point-title">
              Lectus arcu
            </h5>

            <div class="point-banner__point-text">
              Bibendum at varius. Turpis nunc eget lorem dolor sed viverra ipsum.
              Tortor consequat id porta nibh venenatis.
            </div>
          </div>
        </div>

        <div class="point-banner__point">
          <div class="point-banner__point-image-wrapper">
            <img src="assets/circle-icon.svg" alt="Point Image" class="point-banner__point-image">
          </div>

          <div class="point-banner__text-wrapper">
            <h5 class="point-banner__point-title">
              Montes nascetur
            </h5>

            <div class="point-banner__point-text">
              ridiculus mus mauris vitae ultricies leo.
              Libero justo laoreet sit amet.
              Morbi tincidunt augue interdum velit.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="point-banner__inline-points">
      <h3 class="point-banner__subtitle">
        Ullamcorper dignissim
      </h3>

      <div class="point-banner__row point-banner__row--justified">
        <div class="point-banner__point point-banner__point--inline">
          <div class="point-banner__point-image-wrapper">
            <img src="assets/circle-icon.svg" alt="Point Image" class="point-banner__point-image">
          </div>

          <div class="point-banner__text-wrapper">
            <h5 class="point-banner__point-title point-banner__point-title--less-mb">
              Lectus arcu
            </h5>

            <div class="point-banner__point-text">
              Bibendum at varius. Turpis nunc eget lorem dolor sed viverra ipsum.
              Tortor consequat id porta nibh venenatis.
            </div>
          </div>
        </div>

        <div class="point-banner__point point-banner__point--inline">
          <div class="point-banner__point-image-wrapper">
            <img src="assets/circle-icon.svg" alt="Point Image" class="point-banner__point-image">
          </div>

          <div class="point-banner__text-wrapper">
            <h5 class="point-banner__point-title point-banner__point-title--less-mb">
              Morbi tincidunt
            </h5>

            <div class="point-banner__point-text">
              Ugue interdum velit. Ut placerat orci nulla pellentesque dignissim enim sit amet.
              Ut sem nulla pharetra diam sit amet nisl suscipit.
              Tellus in hac habitasse platea.
            </div>
          </div>
        </div>

        <div class="point-banner__point point-banner__point--inline">
          <div class="point-banner__point-image-wrapper">
            <img src="assets/circle-icon.svg" alt="Point Image" class="point-banner__point-image">
          </div>

          <div class="point-banner__text-wrapper">
            <h5 class="point-banner__point-title point-banner__point-title--less-mb">
              Diam phasellus
            </h5>

            <div class="point-banner__point-text">
              Vestibulum lorem sed risus ultricies tristique nulla.
              Ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at.
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="point-banner__links-wrapper">
      <h3 class="point-banner__links-title">
        Lorem ipsum!
      </h3>

      <div class="point-banner__links">
        <div class="point-banner__link-item">
          <a href="#" class="point-banner__link">
            <img class="point-banner__link-image d-none d-md-block" src="assets/app-store-icon.svg"
                 alt="App Store Icon">
            <img class="point-banner__link-image d-md-none" src="assets/google-play-mobile-icon.svg"
                 alt="Google Play Icon">
          </a>
        </div>

        <div class="point-banner__link-item">
          <a href="#" class="point-banner__link">
            <img class="point-banner__link-image d-none d-md-block" src="assets/google-play-icon.svg"
                 alt="Google Play Icon">
            <img class="point-banner__link-image d-md-none" src="assets/app-store-mobile-icon.svg" alt="App Store Icon">
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
