<section class="slider">
  <div class="slider__wrapper">
    <div class="slider__col">
      <h2 class="slider__title">
        Lorem ipsum dolor sit amet
      </h2>
    </div>

    <ngx-slick-carousel class="slider__slider"
                        [config]="sliderConfig"
    >
      <div ngxSlickItem class="slider__slider-item">
        <h5 class="slider__inner-title">Nibh nisl</h5>

        <p class="slider__inner-text">
          Condimentum id venenatis a condimentum vitae sapien pellentesque.
          At tellus at urna condimentum mattis pellentesque id nibh tortor.
        </p>
      </div>

      <div ngxSlickItem class="slider__slider-item">
        <h5 class="slider__inner-title">Nibh nisl</h5>

        <p class="slider__inner-text">
          Condimentum id venenatis a condimentum vitae sapien pellentesque.
          At tellus at urna condimentum mattis pellentesque id nibh tortor.
        </p>
      </div>

      <div ngxSlickItem class="slider__slider-item">
        <h5 class="slider__inner-title">Nibh nisl</h5>

        <p class="slider__inner-text">
          Condimentum id venenatis a condimentum vitae sapien pellentesque.
          At tellus at urna condimentum mattis pellentesque id nibh tortor.
        </p>
      </div>
    </ngx-slick-carousel>
  </div>
</section>
