@import "../../mixins/mixins";

.slider {
  background-color: #141414;

  .slider__wrapper {
    display: flex;
    max-width: 1450px;
    margin: 0 auto;
    padding: 85px 20px 85px 20px;
  }

  .slider__slider {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: 55%;
  }

  .slider__col {
    width: 45%;
    margin-right: 19px;
    padding-top: 40px;
  }

  .slider__title {
    margin: 0;
    font-size: 35px;
    font-weight: 300;
    line-height: 1.37;
    letter-spacing: -0.7px;
    color: #FBFBFB;
  }

  .slider__slider-item {
   padding: 17px 105px 0 105px;
    outline: 0;
  }

  .slider__inner-title {
    margin-bottom: 13px;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 1.888;
    letter-spacing: 0.5px;
    color: #FBFBFB;
  }

  .slider__inner-text {
    margin: 0;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.35;
    letter-spacing: 0.6px;
    color: #FBFBFB;
  }

  @include breakpoint(medium) {
    .slider__col {
      padding-top: 35px;
    }

    .slider__slider-item {
      padding: 17px 40px 0 40px;
    }
  }

  @include breakpoint(small) {
    .slider__wrapper {
      flex-direction: column;
      align-items: center;
      padding: 40px 20px;
    }

    .slider__col {
      width: 80%;
      margin-bottom: 20px;
      margin-right: 0;
      padding-top: 0;
    }

    .slider__slider {
      width: 80%;
    }
  }

  @include breakpoint(extra-small) {
    .slider__wrapper {
      padding-top: 105px;
    }

    .slider__col {
      width: 100%;
      margin: 0;
      padding-top: 0;
    }

    .slider__inner-title {
      font-size: 18px;
    }

    .slider__slider {
      align-items: flex-start;
      width: 100%;
    }

    .slider__slider-item {
      padding: 7px 20px 7px 44px;
    }

    .slider__title {
      margin-bottom: 50px;
      font-size: 26px;
      font-weight: 300;
      line-height: 1.375;
      letter-spacing: -0.5px;
    }

    .slider__inner-text {
      line-height: 1.45;
      letter-spacing: 1px;
    }
  }
}
