@import "mixins/mixins";

body {
  min-height: 100vh;
  margin: 0;
  font-size: 15px;

  app-root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

.slider__prev,
.slider__next {
  position: relative;
  min-width: 50px;
  width: 50px;
  min-height: 50px;
  height: 50px;
  border: 0;
  border-radius: 50%;
  background-color: #ffffff;
  transition: 0.3s opacity;

  @include hover {
    opacity: 0.7;
  }
}

.slider__next {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 45%;
    width: 12px;
    height: 12px;
    border-top: 2px solid #141414;
    border-right: 2px solid #141414;
    transform: translate3d(-50%, -50%, 0) rotate(45deg);
  }
}

.slider__prev {
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 55%;
    width: 12px;
    height: 12px;
    border-top: 2px solid #141414;
    border-left: 2px solid #141414;
    transform: translate3d(-50%, -50%, 0) rotate(-45deg);
  }
}

@include breakpoint(extra-small) {
  .slider__next,
  .slider__prev {
    position: absolute;
    top: 12px;
    z-index: 1;
    min-width: 20px;
    min-height: 20px;
    width: 12px;
    height: 12px;
    background-color: transparent;

    &::before {
      border-color: #ffffff;
    }
  }

  .slider__prev {
    left: 0;
  }

  .slider__next {
    right: 0;
  }
}
